@use './breakpoints' as *;

$container-padding: (
    xs: 15px,
    sm: 24px,
    md: 32px,
    lg: 60px,
    xl: 80px,
    x2l: 100px,
    x3l: 120px,
    x4l: 180px,
    xxl: 240px
);

$container-padding-y: (
    xs: 40px,
    sm: 50px,
    md: 60px,
    lg: 65px,
    xl: 70px,
    x2l: 80px,
    x3l: 90px,
    x4l: 100px,
    xxl: 112px
);


.container {
    width: 100%;
    max-width: $xxl !important;  
    margin-left: auto;
    margin-right: auto;

    // Mobile padding (xs)
    padding-left: map-get($container-padding, xs);
    padding-right: map-get($container-padding, xs);
    padding-top: map-get($container-padding-y, xs);
    padding-bottom: map-get($container-padding-y, xs);

    // Small screens (sm)
    @media (min-width: $sm) {
        padding-left: map-get($container-padding, sm);
        padding-right: map-get($container-padding, sm);
        padding-top: map-get($container-padding-y, sm);
        padding-bottom: map-get($container-padding-y, sm);
    }

    // Medium screens (md)
    @media (min-width: $md) {
        padding-left: map-get($container-padding, md);
        padding-right: map-get($container-padding, md);
        padding-top: map-get($container-padding-y, md);
        padding-bottom: map-get($container-padding-y, md);
    }

    // Large screens (lg)
    @media (min-width: $lg) {
        padding-left: map-get($container-padding, lg);
        padding-right: map-get($container-padding, lg);
        padding-top: map-get($container-padding-y, lg);
        padding-bottom: map-get($container-padding-y, lg);
    }

    // Extra Large screens (xl)
    @media (min-width: $xl) {
        padding-left: map-get($container-padding, xl);
        padding-right: map-get($container-padding, xl);
        padding-top: map-get($container-padding-y, xl);
        padding-bottom: map-get($container-padding-y, xl);
    }

    // Extra Large screens (x2l)
    @media (min-width: $x2l) {
        padding-left: map-get($container-padding, x2l);
        padding-right: map-get($container-padding, x2l);
        padding-top: map-get($container-padding-y, x2l);
        padding-bottom: map-get($container-padding-y, x2l);
    }

    // Extra Large screens (x2l)
    @media (min-width: $x3l) {
        padding-left: map-get($container-padding, x3l);
        padding-right: map-get($container-padding, x3l);
        padding-top: map-get($container-padding-y, x3l);
        padding-bottom: map-get($container-padding-y, x3l);
    }

    // Extra Large screens (x2l)
    @media (min-width: $x4l) {
        padding-left: map-get($container-padding, x4l);
        padding-right: map-get($container-padding, x4l);
        padding-top: map-get($container-padding-y, x4l);
        padding-bottom: map-get($container-padding-y, x4l);
    }

    // XXL screens
    @media (min-width: $xxl) {
        padding-left: map-get($container-padding, xxl);
        padding-right: map-get($container-padding, xxl);
        padding-top: map-get($container-padding-y, xxl);
        padding-bottom: map-get($container-padding-y, xxl);
    }
}