// Fonts
$font-primary: 'Poppins', sans-serif;
$font-heading: 'Outfit', sans-serif;

// Colors
$color-white: #ffffff;
$color-primary: #EE212B;
$color-black: #000;
$color-dark: #0F0E0E;
$color-gray-green: #8F9897;
$color-dark-gray: #313131;
$color-light-gray: #F2F2F2;
$color-light-pink: #FFF4F5;
$color-dark-charcoal: #333333;


// Line heights
$line-height-body: 150%;
$line-height-heading: 120%;
$line-height-xl: 160%;

// Letter spacing    
$letter-spacing-body: 0.08px;
$letter-spacing-h1: -0.8px;
$letter-spacing-h2: -0.56px;
$letter-spacing-h3: -0.24px;
$letter-spacing-subtitle: 0.12px;
$letter-spacing-primary: 0.16px;

$btn-transition: all 0.3s ease;
$primary-transition: 0.5s ease;   


// Shadows
$card-shadow1: 0 4px 8px 0 rgba(0, 0, 0, 0.08); 
$card-shadow2: 0 4px 8px 0 rgba(0, 0, 0, 0.10);  
$card-shadow3: 0 4px 16px 0 rgba(0, 0, 0, 0.08);


// ====================================================
// Container max-width  
$container-max-widths: (
  xs: 1920px,
  sm: 1920px,
  md: 1920px,
  lg: 1920px,
  xl: 1920px,
  x2l: 1920px,
  x3l: 1920px,
  x4l: 1920px,
  xxl: 1920px
);
 