@use '../utils/' as*;
@use '../utils/breakpoints' as bp;
@use '../utils/mixin' as *;

.team {
    &__desc {
        max-width: 510px;
    }

    &__member {
        max-height: 460px;
        position: relative;
        border-radius: 8px;
        overflow: hidden;

        &-img-wrap {
            overflow: hidden;
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-content {
            position: absolute !important;
            left: 0;
            bottom: 2rem;
            width: 100%;

            @include bp.respond-to(md) {
                bottom: 10px;
            }
        }

        &-info {
            position: relative;
            background: $color-white;
            padding: 1rem 1.5rem;
            border-radius: 0 8px 8px 0;
            max-width: 280px;

            &::before {
                content: "";
                position: absolute;
                width: 4px;
                height: 70%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background: $color-primary;
            }
        }

        &-title {
            @include title-sm;
        }

        &-role {
            @include body-text;
            margin-bottom: 0;

            @include bp.respond-to(xs) {
                font-size: 10px;
            }
        }

        &-social-links {
            position: absolute;
            right: 1.5rem;
            bottom: 2rem;
            display: flex;
            flex-direction: column;
            gap: 10px;

            @include bp.respond-to(xs) {
                flex-direction: row;
                right: 10px;
                gap: 5px;
            }

            @include bp.respond-to(x2l) {
                top: 10px;
                right: 10px;
            }
        }

        &-social-link {
            background: $color-primary;
            display: grid;
            place-items: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            padding: 5px;
            transition: $primary-transition;

            &:hover {
                background: $color-white;

                svg path {
                    fill: $color-primary;
                }
            }

            @include bp.respond-to(xs) {
                height: 30px;
                width: 30px;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }

        }
    }

    &--style-1 {
        background-color: $color-light-pink;
    }

    &--style-2 {
        .team {

            &__title,
            &__desc {
                max-width: 635px;
            }

            &__left {
                display: flex;
                flex-direction: column;
                justify-content: space-between !important;
                height: 100%;
            }

            &__right {
                position: relative;
                overflow: hidden;
            }

            &__cards {
                transition: transform 0.5s ease;
                display: flex;
            }

            &__card {
                flex-shrink: 0;
                height: 400px;
                transition: flex-basis 0.4s ease;
                flex: 0 0 calc((100% / 3) - (32px * (3 - 1) / 3));
                border-radius: 8px;
                overflow: hidden;
                position: relative;

                &.active .team__card-content {
                    bottom: 1rem;
                }

                &:hover .team__card-content {
                    bottom: 1rem;
                }

                &:hover .active .team__card-content {
                    bottom: -150% !important;
                }
            }

            &__img-wrap {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__card-content {
                position: absolute;
                bottom: -150%;
                left: 50%;
                transform: translateX(-50%);
                background: $color-white;
                width: calc(100% - 2rem);
                padding: 1rem;
                border-radius: 8px;
                transition: $primary-transition;
            }

            &__name {
                @include card-title;
                margin-bottom: 0;
            }

            &__role {
                color: $color-black;
                margin-bottom: 0;
            }

            &__social-link {
                border: 1px solid $color-black;
                width: 30px;
                height: 30px;
                display: grid;
                place-items: center;
                border-radius: 50%;
                transition: $primary-transition;

                svg {
                    width: 15px;
                    height: 15px;
                }

                svg path {
                    fill: $color-black;
                }

                &:hover {
                    background: $color-primary;
                    border-color: $color-primary;

                    svg path {
                        fill: $color-white;
                    }
                }
            }
        }

        .slider__nav {
            @include bp.respond-to(xl) {
                justify-content: end;
            }
        }

        .slider__btn {
            @include card-icon-wrap;
            cursor: pointer;

            &:hover {
                background: $color-black;
            }
        }
    }

    &--style-3 {
        background: $color-light-pink;

        .team {

            &__title,
            &__desc {
                max-width: 630px;
            }

            &__slider-btn {
                @include card-icon-wrap;
                display: grid !important;
                cursor: pointer;
                transition: $btn-transition;
                margin-bottom: 0;

                &:hover {
                    background: $color-black;
                }
            }
        }

        .team-slider {
            overflow: hidden;
            margin: 0 -80px;

            @include bp.respond-to(x4l) {
                margin: 0 -30px;
            }

            @include bp.respond-to(xl) {
                margin: 0;
            }

            &__item {
                padding: 2rem;
                border-radius: 20px;
                background: #F8FAF7;

                @include bp.respond-to(md) {
                    padding: 1.5rem;
                }

                @include bp.respond-to(sm) {
                    padding: 1rem;
                }

                &:hover {
                    background: $color-black;

                    .team-slider__title,
                    .team-slider__role {
                        color: $color-white;
                    }

                    .team-slider__image-wrap {
                        transform: rotate(3deg);
                    }
                }
            }

            &__image-wrap {
                border-radius: 20px;
                overflow: hidden;
                transition: $btn-transition;
            }

            &__image {
                width: 100%;
            }

            &__title {
                @include title-sm;
                transition: $btn-transition;
                margin-top: 1rem;
            }

            &__role {
                color: $color-black;
                transition: $btn-transition;
                margin-top: 12px;
                margin-bottom: 0;
            }
        }

        .tns-liveregion.tns-visually-hidden {
            display: none;
        }
    }
}