@use '../utils/variables' as*;


.btn-square {
  background: $color-primary;
  color: $color-primary;
  font-family: $font-heading;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.08px;
}