
.list {
    &--check {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            padding-left: 2rem;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0.3rem;
                width: 17px;
                height: 17px;
                background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'><path d='M8.16675 0.205078C3.75572 0.205078 0.166748 3.79405 0.166748 8.20508C0.166748 12.6161 3.75572 16.2051 8.16675 16.2051C12.5778 16.2051 16.1667 12.6161 16.1667 8.20508C16.1667 3.79405 12.5778 0.205078 8.16675 0.205078ZM12.6379 6.09981L7.52514 11.1725C7.22439 11.4732 6.74319 11.4933 6.42239 11.1925L3.71562 8.72638C3.39482 8.42563 3.37477 7.92438 3.65547 7.60357C3.95622 7.28277 4.45747 7.26272 4.77828 7.56347L6.92364 9.52839L11.4951 4.95696C11.8159 4.63616 12.3171 4.63616 12.6379 4.95696C12.9587 5.27776 12.9587 5.77901 12.6379 6.09981Z' fill='%23EE212B'/></svg>") no-repeat center;
                background-size: contain;
            }
        }
    }
}