@use '../utils/variables' as *;

.progress {
    &-circle {
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 80px;
        height: 80px;
        z-index: 9999;
    }

    &-circle-bg {
        fill: none;
        stroke: rgba(17, 19, 20, 0.2);
        stroke-width: 4;
    }

    &-circle-progress {
        fill: none;
        stroke: $color-primary;
        stroke-width: 4;
        stroke-linecap: round;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        transition: stroke-dashoffset 0.2s;
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8)) drop-shadow(0 0 2px rgba(255, 255, 255, 0.6));
    }

    &-circle-text {
        font-size: 16px;
        font-weight: bold;
        fill: $color-primary;
        text-shadow:
            0 0 3px rgba(0, 0, 0, 0.8),
            0 0 2px rgba(255, 255, 255, 0.6);
    }
}